:root {
  --dark: #1c1c1c;
  --white: #F5F5F5;
  --green: #41D395;
  --orange: #E27866;
  --blue: #6696E2;
  --grey: #86878B;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  margin-top: 71px;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 14px;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

@import "components/header";
@import "components/hero";
@import "components/reviews-section";
@import "components/form";
@import "components/tab-section";
@import "components/about-section";
@import "components/pricing-section";
@import "components/features-section";
@import "components/contact-section";
@import "components/footer";