footer {
    width: 100%;
    background: var(--dark);
    height: 124px;

    .container {
        display: flex;
        align-content: center;
        justify-content: space-between;
        padding-top: 50px;
        

        ul {
            display: flex;
            list-style: none;
            margin: 0;

            li {
                margin-right: 115px;
            }
        }

        p {
            color: white;
            opacity: 0.5;
            font-size: 18px;
        }
    }
}