.form-container {
    width: 360px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 5px 5px 0px 0px;
    position: relative;
    margin-top: 75px;

    h3 {
        width: 260px;
        font-size: 19px;
        text-align: center;
        margin-top: 0;
        margin-bottom: 30px;
        padding: 17px 50px;
        border-radius: 5px 5px 0px 0px;
        // margin: 0 auto;
        color: var(--dark);
        font-weight: bold;
        background-color: white;

        span {
            color: var(--orange);
        }
    }

    fieldset {
        color: var(--dark);
        display: flex;
        flex-direction: column;
        border: none;
        margin: 0px 50px;
        padding: 0;


        legend {
            font-size: 16px;
            font-weight: bold;
        }

        input {
            font-size: 12px;
            padding: 6px;
            border-top-color: transparent;
            border-left-color: transparent;
            border-right-color: transparent;
            border-bottom-color: var(--grey);
        }

        .radio-flex {
            display: flex;
            margin-bottom: 40px;
        }
    }

    .custom-radio {
        label {
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;
            // margin-left: 5px;
            margin-right: 17px;
            text-transform: uppercase;
            font-weight: bolder;
            font-size: 9px;
            opacity: 0.5;

            .radio {
                position: relative;
                width: 13px;
                height: 13px;
                margin-right: 5px;
                border-radius: 50%;
                border: 1px solid var(--green);
                opacity: 0.5;
                transition: 0.3s ease-in-out;

                &:after {
                    content: "";
                    width: 5px;
                    height: 5px;
                    position: absolute;
                    top: 0;
                    left: 0px;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    background-color: var(--green);
                    border-radius: 50%;
                    transform: scale(0);
                    transform-origin: center center;
                    transition: 0.3s ease-in-out;
                }
            }

            span {
                color: var(--dark);
            }
        }

        input {
            display: none;

            &:checked + label {
                opacity: 1;

                .radio {
                    opacity: 1;

                    &:after {
                        transform: scale(1);
                    }
                }
            }
        }
    }

    .green {
        position: absolute;
        width: 100%;
        height: 57px;
        background: var(--green);
        color:white;
        bottom: -57px;
        left: 0;
        border-radius: 0px 0px 5px 5px;
        border: none;
        font-size: 18px;
    }
}