header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--dark);
    z-index: 2;

    .container {
        display: flex;
        justify-content: space-between;
    }

    ul {
        display: flex;

        li {
            list-style: none;
        }

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}