.hero {
    // position: relative;
    min-height: 800px;
    background: red;
    border: 4px solid greenyellow;

    // &:after,
    // &-image {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;

    // }

    // &:after {
    //     content: '';
    //     background-color: var(--dark);
    //     opacity: 0.63;
    // } 

    // &-image {
    //     object-fit: cover;
    // }

    // .hero-content {
    //     h1 {
    //         margin: 0;
    //     }
    // }
}